 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/df0599bcfa24b46eaa318ac6e1e6fb53d3191e6d0513ee0ee345fef0b1f8e552961106e8f1a7487535f25010dff0d3e41b8c03d3d3168180b062a6_1280.jpg");
  background-position: 42.67% 2.25%;
}

.u-section-1 .u-sheet-1 {
  min-height: 637px;
}

.u-section-1 .u-form-1 {
  width: 570px;
  margin: 150px auto 60px;
}

.u-section-1 .u-btn-1 {
  width: 100%;
  padding: 10px 31px 10px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 323px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}